.font-bold {
	font-weight: bold;
}

@for $i from 10 through 30 {
	.font-#{$i} {
		font-size: $i + px;
	}
}

@for $i from 0 through 8 {
	.m-#{$i} {
		margin: $i * 4px;
	}
	
	.mt-#{$i} {
		margin-top: $i * 4px;
	}
	
	.mr-#{$i} {
		margin-right: $i * 4px;
	}
	
	.mb-#{$i} {
		margin-bottom: $i * 4px;
	}
	
	.ml-#{$i} {
		margin-left: $i * 4px;
	}
	
	.p-#{$i} {
		padding: $i * 4px;
	}
	
	.pt-#{$i} {
		padding-top: $i * 4px;
	}
	
	.pr-#{$i} {
		padding-right: $i * 4px;
	}
	
	.pb-#{$i} {
		padding-bottom: $i * 4px;
	}
	
	.pl-#{$i} {
		padding-left: $i * 4px;
	}
}

@each $d in left, center, right {
	.text-#{$d} {
		text-align: $d;
	}
}

.d-flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

@each $d in start, center, end {
	.align-#{$d} {
		align-items: $d;
	}
}

@each $d in start, center, end, space-between, space-around {
	.justify-#{$d} {
		justify-content: $d;
	}
}

